/* my own css */
@media only screen and (min-width: 420px) {
  #textIn, #textOut
  {
    height: 50em;
    max-height: 90vh;
    font-size: 13px;
  }
}

@media only screen and (max-width: 419px) {
  #textIn, #textOut {
    height: 20vh;
    max-height: 45vh;
    font-size: small;
  }
}

#textIn, #textOut
{
  width: -webkit-fill-available;
  border: none;
}

#textIn:focus, #textOut:focus
{
  /* lighter */
  /* outline-color: #f50057 ; */ 
  outline-color: #282c34 ;
}

#textIn::-webkit-scrollbar,
#textOut::-webkit-scrollbar
{
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.card-footer 
{
  background-color: white !important;
  border-top: 1px solid #53021c !important;
}