/* my own css */
#textIn, #textOut
{
  height: 50em;
  max-height: 90vh;
  font-size: 13px;
  width: -webkit-fill-available;
  border: none;
}

#textIn:focus, #textOut:focus
{
  /* lighter */
  /* outline-color: #f50057 ; */ 
  outline-color: #282c34 ;
}

.card-footer 
{
  background-color: white !important;
  border-top: 1px solid #53021c !important;
}